{{!< layout}}

<!-- The dialog has a primary action "say hello", declared in the descriptor atlassian-connect.json -->
<!-- It is implemented in the js/addon.js file imported in the layout -->

<style>
  #emoticonList {
    list-type: none;
  }
  .emoticon {
    display: inline-block;
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100px;
    height: 70px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    float: left;
  }
  .emoticon img {
    height: 36px;
    width: 36px;
  }

  .emoticon.selected {
    border: 3px solid green;
    background-color: lightgrey;
  }
  .hide-disabled .disabled { display: none; }
  .emoticon.disabled {
    background-color: lightgrey;
    cursor: not-allowed;
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
  }
</style>

<section class="aui-connect-page aui-connect-page-focused" role="main">
    <section class="aui-connect-content">
        <div class="aui-connect-content-inner">
          <!--
          <button id="refresh">Refresh</button>
          <button id="toggle-disabled">Toggle Disabled</button>
          -->
          <div id="party-dialog" class="hide-disabled"></div>
        </div>
    </section>
</section>

<script src="/js/bundle.js"></script>
