/* add-on styles */
#emoticonList {
  list-style: none;
}
.emoticon {
  display: block;
  border: 1px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 100px;
  height: 70px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  float: left;
}
.emoticon img {
  height: 36px;
  width: 36px;
}

.emoticon.selected {
  border: 3px solid green;
  background-color: lightgrey;
}
.hide-disabled .disabled { display: none; }

.emoticon.disabled {
  background-color: lightgrey;
  cursor: not-allowed;
  /* This makes it not clickable */
  pointer-events: none;
  /* This grays it out to look disabled */
  opacity:0.6;
}
